@use "function" as *;
@use "variable" as *;
@use "mixins" as *;

.footer {
    @mixin Footer($params: null) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px;
        border-top: 2px solid $colorBackgroundGray;
        &-logo {

        }
        &-contacts {
            display: flex;
            flex-direction: column;
            align-items: end;
            > a {
                @include textXS;
                padding: 4px;
                color: $colorTextAccent;
            }
        }
    }
    @include MixScreen(null, $sizeL) { @include Footer(()); }
    @include MixScreen($sizeL) { @include Footer(()); }
}