<header class="container">
    <div class="header">
        <a href="/" class="header-logo logo">
            <img src="/assets/resources/img/logo.svg" alt="logo">
        </a>
        <div class="header-menu">
            <a href="/">Главная</a>
            <a href="/products">Продукция</a>
            <a href="/contacts">Контакты</a>
        </div>
        <div class="header-contacts">
            <a href="mailto:mail@ge-group.ru">mail@ge-group.ru</a>
            <a href="tel:+70000000000">+7 000 000 00 00</a>
        </div>

        <div class="header-burger">
            <img src="/assets/resources/img/burger.svg" alt="menu">
        </div>
    </div>
    <div class="header-burger-menu">
        <div class="header-burger-menu-links">
            <a href="/">Главная</a>
            <a href="/products">Продукция</a>
            <a href="/contacts">Контакты</a>
        </div>
        <div class="header-burger-contacts">
            <a href="mailto:mail@ge-group.ru">mail@ge-group.ru</a>
            <a href="tel:+70000000000">+7 000 000 00 00</a>
        </div>
    </div>
</header>